:root {
	--background: linear-gradient(135deg, #2B41887e 0%, #2B418898 100%);
	--color-primary: #2B4188;
	--color-secundary: #FCBA0B;
	--boton-padding:  20px 40px;
}

.container {
	width: 90%;
	margin: 0 auto;
	
	padding: 80px 0;
	max-width: 1200px;
}

	/* #FCBA0B Amarillo
	#FFFEFB Blanco
	#2B4188 Azul oscuro
	#69BDE7 Azul Claro */

p {
	color: white;
}

.blue {
	background: #2B4188;
	height: 70px;
}

.top-nav-collapse {
	background: #fff;
}

.subtitle {
	color: var(--color-primary);
	font-size: 2,5rem;
	margin-bottom: 35px;
}

.hero {
	height: 100vh;
	background-image: var(--background), url("../images/city.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.hero .container {
	padding: 0;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	height: 70px;
	align-items: center;
	font-weight: 700;
}

.logolg {
	width: 150px;
}

#navbarNavDropdown {
	justify-content: space-between;
}

.concatame {
	border: 1px solid white;
	text-align: center;
	border-radius: 20px;
}

.poyectos {
	border: 1px ;
	text-align: center;
}

.sobremi {
	border: 1px ;
	text-align: center;
}

.nav--footer {
	font-weight: 300;
	justify-content: flex-start;
}

.collapse {
	background-color: #2B4188;
	padding: 10px;
	border-radius: 30px;
}

.nav__items {
	color: #FFFEFB;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}

.nav__items--cta {
	border: 1px #FFFEFB;
}

.nav__items-footer {
	padding: 10px;
}

.hero__container {
	display: flex;
	height: calc(100vh - 70px);
	align-items: center;
	color: #FFFEFB;
}

.hero__text {
	width: 80%;
	margin-bottom: 50px;
}

.hero__title {
	font-size: 3.2rem;
}

.hero__subtitle {
	font-size: 2rem;
	font-weight: 300;
	margin: 60px;
}

.hero__cta {
	display: inline-block;
	background: #FFFEFB;
	padding: var(--boton-padding);
	color: var(--color-primary);
	text-decoration: none;
	border-radius: 40px;
}

.hero__wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #FCBA0B;
}

/* ABOUT */

.backev {
	background: #FCBA0B;
}

.presentation {
	padding-top: 0;
	text-align: center;
}

.presentation__picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border-bottom: 10px;
	object-fit: cover;
}

.sobremy {
	width: 90%;
	margin: 0 auto;
	font-weight: 400;
	font-size: 18px;
}

.presentation__cta {
	display: inline-block;
	margin-top: 30px;
	background: var(--color-primary);
	color: #FFFEFB;
	text-decoration: none;
	padding: var(--boton-padding);
	border-radius: 40px;
}

.habilities {
	background: #69BDE7;
}

.subtitle3 {
	color: #2B4188;
}

.about {
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 80px;
	justify-items: center;
	align-items: center;
}

.about__img {
	text-align: center;
}

.about__img--left {
	text-align: left;
}

.about__picture {
	max-width: 80%;
}

.about__paragraf {
	margin-top: 20px;
	line-height: 1.5;
	font-weight: 400;
}

/* PROJECTS */

.projects {
	background: #FFFEFB;
}

.project__grid {
	display: grid;
	height: 550px;
	grid-template-areas: "img1 img1 img2 img3"
	"img1 img1 img4 img5";
	gap: 10px;
}

.project__item {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.projects__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.project__item:nth-of-type(1) {
	grid-area: img1;
}

.project__item:nth-of-type(2) {
	grid-area: img2;
}

.project__item:nth-of-type(3) {
	grid-area: img3;
}

.project__item:nth-of-type(4) {
	grid-area: img4;
} 

.project__item:nth-of-type(5) {
	grid-area: img5;
} 

.project__hover {
	position: absolute;
	background: #69BDE78c;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #FFFEFB;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform .3s ease-in-out;
}

.project__item:hover .project__hover{
	transform: translateX(0%);

}

.project__icon {
	margin-top: 10px;
	font-size: 30px;
}

/* TESTIMONY */

.backhabilidades {
	background: #FCBA0B;
}

.testimony__grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.testimony__item {
	width: 95%;
	margin: 0 auto;
	background: var(--color-secundary);
	box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
	border-radius: 7px;
	padding: 20px 15px;
	color: #FFFEFB;
	margin-bottom: 50px;
}

.testimony__person {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.testimony__img {
	width: 100px;
	min-width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-right: 30px;
}

.testimony__name {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.testimony__verification {
	color: #2B4188;
	font-weight: 700;
}

.testimony__review {
	font-weight: 400;
}

.progress {
	height: 25px;
	text-align: center;
	font-weight: 480;
	font-size: 20px;
}

/* ILUSTRACIONES */

.ilustracion__grid {
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
}

.ilustracion__item {
	display: grid;
	width: 95%;
	margin: 0 auto;
	background: white;
	box-shadow: 0 8px 10px rgba(66, 66, 66, .3);
	border-radius: 7px;
	padding: 10px 10px;
	color: #FFFEFB;
	margin-bottom: 30px;
}

.ilustracion {
	background: #FFFEFB;
}

.card-text {
	color: black
}

.campañas {
	background: #69BDE7;
}

.piezas {
	background: #FCBA0B;
}

.otros {
	background: #FFFEFB;
}

/* FOOTER */

.footer {
	background: var(--color-primary);
}

.footer__grid {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}

.footer__title {
	font-weight: 500;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
}

.footer__title2 {
	font-weight: 300;
	color: #fff;
	font-size: 1.2rem;
	margin-bottom: 30px;
	text-align: center;
}

.footer__container-icons {
	margin: top;
	display: inline-block;
	text-align: center;
	border-radius: 50%;	
	justify-items: center;
	align-items: center;
}

.footer__icons {
	display: flex;
	justify-content: space-evenly;
}

.iconouno {
	width: 40px;
}

.footer__icon {
	color: inherit;
	font-size: 30px;
	text-decoration: none;
}

.fab.footer__icon {
	line-height: 60px;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
	:root {
		--boton_padding:  18px 40px;
	}

	.nav {
		justify-content: space-around;
	}

	.logolg {
		width: 150px;
		}

		/* .logolg {
		justify-content: space-around;
		width: 150px;
		position: relative;
		left: -20px;
		} */

	.nav__items {
		font-weight: 400;
		border-bottom: 1px solid #fff;
		margin-right: 0;
	}

	.nav__items--cta {
		border: none;
	}

	.nav__items--footer {
		border: none;
	}

	.hero__text {
		width: 100%;
		margin-bottom: 80px;
	}

	.hero__title {
		font-size: 2.5rem;
	}

	.hero__subtitle {
		font-size: 1.5rem;
	}

	/* ABOUT */

	.presentation__copy {
		width: 100%;
	}

	.about {
		grid-template-columns: 1fr;
	}

	.about.container {
		padding-top: 30px;
	}

	.about__img--left {
		text-align: center;
	}

	.about__text:last-child {
		grid-row: 3/4;
	}

	/* POJECTS */

	.project__grid {
		grid-template-areas: "img1 img1 img2 img2"
		"img1 img1 img3 img3"
		"img4 img4 img5 img5";
	}

	/* TESTIMONY */

	.testimony__grid {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	/* ILUSTRACIONES */

	.ilustracion__grid {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}

	/* FOOTER */

	.footer__grid {
		grid-template-columns: 1fr;
	}

	.footer__contact {
		grid-row: 1/2;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--boton-padding: 18px 35px;
	}

	.subtitle {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.nav {
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-top: 10px;
	}

	.nav__items {
		padding: 0 10px;
		border: 0;
	}

	.hero__text {
		text-align: center;
		margin-bottom: 100px;
	}

	.hero__title {
		font-size: 2rem;
	}

	/* ABOUT */

	.presentation__picture {
		width: 120px;
		height: 120px;
	}

	.about {
		row-gap: 10px;
	}

	.about.container {
		padding-top: 10px;
	}

	/* PROJECTS */

	.project__grid {
		grid-template-areas: "img1" "img2" "img3" "img4" "img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}

	/* TESTIMONY */

	.testimony__item {
		padding: 30px 15px;
	}

	.testimony__person {
		flex-direction: column;
	}

	.testimony__text {
		text-align: center;
	}

	.testimony__img {
		margin: 0;
		margin-bottom: 20px;
	}

	/* ILUSTRACIONES */

	.ilustracion__grid {
		grid-template-columns: 1fr 1fr;
		gap: 8px;
	}
}